*{
	padding: 0;
	margin: 0;
	font-family: "Microsoft Yahei";
}
ul li{
	list-style: none;
}


/*section1  start*/
.section1{
	overflow: hidden;
}
.head_wrap{
	width: 50%;
	margin:0 auto;
	font-size: 0;
	transform: translateY(-250px);
	animation: head_wrap_show 700ms ease-in-out forwards;
}

@keyframes head_wrap_show{
	0%{
		transform: translateY(-250px);
	}
	50%{
		transform: translateY(30px);
	}
	70%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(30px);
	}
}
.head{
	width: 230px;
	border-radius: 100%;
	overflow: hidden;
	margin:0 auto;
	border:2px solid #ccc;
	box-shadow: 0 0 10px #ccc;
	padding: 3px;
}
.head .head_img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.link{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	transition: transform 400ms ease-in;
	transform:translateY(-50%) rotate(0deg);
}
.link:hover{
	transform:translateY(-50%) rotate(360deg);
}
.head_wrap .head_github{
	left: 35px;
}
.head_wrap .head_zhihu{
	right: 35px;
	background: #000;
}
.head_github img,
.head_zhihu img{
	width: 100%;
	height: 100%;
}

/*head部分结束*/

/*简介部分  start*/
.profile{
	opacity: 0;
	width: 950px;
	margin:0 auto;
	margin-top: 80px;
	animation: opacity_show 500ms linear 500ms forwards;
}
@keyframes opacity_show{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.profile .profile_l{
	float: left;
	width: 400px;
	font-size: 0;
	color:#FFF;
}
.profile .profile_l p{
	font-size: 0;
	height: 28px;
	line-height: 28px;
}
.profile .profile_l p .weixin_link{
	background: #1889C5;
	position: relative;
	z-index: 1;
}
.profile .profile_l p .weixin_link:hover .weixin_img{
	transform: translateX(100px) scale(168);
}
.profile .profile_l p .weixin_link .weixin_img{
	z-index: -1;
	width: 1px;
	height: 1px;
	position: absolute;
	right: 0px;
	top: 10px;
	transition: transform 400ms;
}
.profile .profile_l .l_item_name{
	font-size: 16px;
	display: inline-block;
	width: 80px;
	text-align: right;
}
.profile .profile_l span.l_item_content{
	text-align: left;
	font-size: 16px;
}
.profile .profile_l span.l_item_myname{
	font-size: 20px;
}
.profile .profile_l a.l_item_content{
	text-decoration: none;
	color:#CCC;
	font-size: 16px;
}
.profile .profile_l .line{
	font-style: normal;
	font-size: 16px;
	margin:0 7px;
}

.profile .profile_r{
	width: 500px;
	float: left;
	font-size: 0;
	color:#FFF;
}
.profile .profile_r dl{
	margin-bottom: 5px;
}
.profile .profile_r dt{
	font-size: 14px;
	font-weight: bold;
}
.profile .profile_r dd{
	font-size: 14px;
	text-indent:28px;
	margin-left: 28px;
}
/*简介部分  end*/

/*section1  end*/

/*section2  start*/
.section2{
	overflow: hidden;
}
.title{
	width: 100%;
	text-align: center;
	margin-top: 80px;
	color:#FFF;
}
.title span{
	letter-spacing: 0.5em;
	font-size: 42px;
}
.section2 .s2_table{
	width: 900px;
	margin:0 auto;
	margin-top: 70px;
	border:1px solid #DDD;
	box-shadow: 0 0 6px #CCC;
	overflow: hidden;
}
.section2 .s2_table .s1_l{
	float: left;
	font-size: 0;
	color:#FFF;
	padding:10px 40px 10px 0;
	width: 170px;
	border-right: 1px solid #CCC;
}
.section2 .s2_table .s1_l li{
	width: 170px;
	text-align: right;
	font-size: 16px;
	height: 27px;
	line-height: 27px;
	margin-left: -300px;
	animation: s1_li_out 700ms linear forwards;
}
@keyframes s1_li_out{
	0%{
		margin-left: 0px;
	}
	100%{
		margin-left: -300px;
	}
}
.active .s2_table .s1_l li.s1_l_item1{
	animation: s1_li_in 600ms linear forwards;
}
.active .s2_table .s1_l li.s1_l_item2{
	animation: s1_li_in 600ms linear forwards;
}
.active .s2_table .s1_l li.s1_l_item3{
	animation: s1_li_in 600ms linear 100ms forwards;
}
.active .s2_table .s1_l li.s1_l_item4{
	animation: s1_li_in 600ms linear 150ms forwards;
}
.active .s2_table .s1_l li.s1_l_item5{
	animation: s1_li_in 600ms linear 200ms forwards;
}
.active .s2_table .s1_l li.s1_l_item6{
	animation: s1_li_in 600ms linear 250ms forwards;
}
.active .s2_table .s1_l li.s1_l_item7{
	animation: s1_li_in 600ms linear 300ms forwards;
}
.active .s2_table .s1_l li.s1_l_item8{
	animation: s1_li_in 600ms linear 350ms forwards;
}
.active .s2_table .s1_l li.s1_l_item9{
	animation: s1_li_in 600ms linear 400ms forwards;
}
.active .s2_table .s1_l li.s1_l_item10{
	animation: s1_li_in 600ms linear 450ms forwards;
}
@keyframes s1_li_in{
	0%{
		margin-left: -300px;
	}
	100%{
		margin-left: 0px;
	}
}
.section2 .s2_table .s1_r{
	float: left;
	padding:10px 40px 10px 40px;
	width: 609px;
}
.section2 .s2_table .s1_r li{
	height: 27px;
	line-height: 27px;
	width: 100%;
	overflow: hidden;
}
.section2 .s2_table .s1_r li .progress{
	height: 16px;
	margin-top: 5px;
	width: 99%;
	background: #9C58B6;
}
.section2 .s2_table .s1_r li .progress .degree{
	font-size: 14px;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: 3px;
	color:#FFF;
}
.section2 .s2_table .s1_r li .progress .progress_color{
	display: inline-block;
	height: 16px;
	width: 0%;
	border-radius: 25px;
}
.section2 .s2_table .s1_r li .progress .expression{
	display: inline-block;
	width: 22px;
	height: 22px;
}
.section2 .s2_table .s1_r li .progress .expression img{
	width: 100%;
	height: 100%;
}
/*section2  end*/

/*section3  start*/
.section3{
	overflow: hidden;
}
.s3_body{
	position: relative;
	width: 948px;
	height: 27px;
	background: url(../images/timeline.png) no-repeat top right;
	margin:160px auto 0;
}
.mask{
	width: 100%;
	height: 57px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #26B1B6;
	z-index: 100;
}
.time{
	position: absolute;
	font-size: 30px;
	color:#FFF;
	height: 30px;
	line-height: 30px;
	top: -30px;
	z-index: 1;
}
.time1{
	left: 0;
}
.time2{
	left: 300px;
}
.time3{
	left: 610px;
}
.part{
	position: absolute;
	padding:10px;
	width: 290px;
	color:#FFF;
	opacity: 0;
	top: 20px;
}

.part dt{
	font-size: 25px;
	margin-bottom: 5px;
}
.part dd{
	font-size: 16px;
}
.part ol li{
	margin-left: 1em;
	margin-bottom: 3px;
	font-size: 16px;
}
.part1{
	left: -60px;
}
.part2{
	left: 230px;
}
.part3{
	left: 600px;
}
.active .part1{
	animation: part_show 400ms linear 800ms forwards;
}
.active .part2{
	animation: part_show 400ms linear 1500ms forwards;
}
.active .part3{
	animation: part_show 400ms linear 2200ms forwards;
}
@keyframes part_show{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*section3  end*/

/*section4  start*/
.section4{
	overflow: hidden;
}
.section4 .title{
	margin-top: 50px;
}
.s4_body{
	width: 1050px;
	margin:0 auto;
	margin-top: 30px;
}
.s4_body li{
	float: left;
	width: 250px;
	padding:0 50px;
	text-align: center;
	color:#FFF;
	font-size: 0;
}
.s4_body li a{
	display: inline-block;
	width: 190px;
	height: 190px;
	border-radius: 100%;
	overflow: hidden;
	border:4px solid #129de7;
	transform: translateY(-330px);
}
.active .s4_body li.item1 a{
	animation: head_turn_down 1000ms ease-out 700ms forwards;
}
.active .s4_body li.item2 a{
	animation: head_turn_down 1000ms ease-out 900ms forwards;
}
.active .s4_body li.item3 a{
	animation: head_turn_down 1000ms ease-out 1100ms forwards;
}
@keyframes head_turn_down{
	0%{
		transform: translateY(-330px);
	}
	20%{
		transform: translateY(0px);
	}
	40%{
		transform: translateY(-120px);
	}
	60%{
		transform: translateY(0px);
	}
	80%{
		transform: translateY(-50px);
	}
	100%{
		transform: translateY(0px);
	}
}

.s4_body li .txt_wrap{
	opacity: 0;
}

.active .s4_body li.item1 .txt_wrap{
	animation: opacity_show 1000ms linear 700ms forwards;
}
.active .s4_body li.item2 .txt_wrap{
	animation: opacity_show 1000ms linear 900ms forwards;
}
.active .s4_body li.item3 .txt_wrap{
	animation: opacity_show 1000ms linear 1100ms forwards;
}


.s4_body li a:hover{
	border-color: #fff;
}
.s4_body li a img{
	width: 100%;
	height: 100%;
}
.s4_body li h4{
	font-size: 26px;
	margin:20px 0;
}
.s4_body li p{
	text-indent: 40px;
	font-size: 20px;
	text-align: left;
}
/*section4  end*/

/*section5  start*/
.section5{
	overflow: hidden;
	position: relative;
}
.s5_title{
	font-size: 90px;
	text-align: center;
	color:#fff;
	width: 360px;
	height: 90px;
	background: #0026ff;
	padding: 10px;
	line-height: 90px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 10px 10px black;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	z-index: 1000;
}
.active .s5_title{
	animation: turn_left_top 1000ms ease-in-out 1200ms forwards;
}
@keyframes turn_left_top{
	0%{
		top: 30%;
		left: 50%;
		transform:translate(-50%,-50%) scale(1);
	}
	20%{
		top: 10px;
		left: 10px;
		transform:translate(0,0) scale(0.3);
	}
	40%{
		top: 10px;
		left: 10px;
		transform:translate(0,0) scale(0.3);
	}
	60%{
		top: 10px;
		left: 10px;
		transform:translate(0,0) scale(0.3) rotate(30deg);
	}
	80%{
		top: 10px;
		left: 10px;
		transform:translate(0,0) scale(0.3) rotate(20deg);
	}
	100%{
		top: 10px;
		left: 10px;
		transform:translate(0,0) scale(0.3) rotate(30deg);
	}
}

.s5_title .dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #fff;
	position: absolute;
	left: 10px;
	top: 10px;
}
.s5_tel{
	position: relative;
	color:#FFF;
	margin:100px 50px 20px 50px;
	padding: 10px;
	line-height: 50px;
	word-wrap:break-word; 
}
.s5_tel_animate{
	animation: s5_tel_animate 200ms linear forwards;
}
@keyframes s5_tel_animate{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.95);
	}
}
.s5_tel .s5_tel_wrap{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
/*section5  end*/
